/* Responsive */
@media (max-width: 700.98px) {
  .image-column {
    order: 1; /* Soru resmi ilk */
  }
  .filter-column {
    order: 2; /* Filtre butonları ikinci */
  }
  .question-column {
    order: 3; /* Soru metni ve şıklar son */
  }
}
